@import "tailwindcss";

*{
  font-family: Arial, Helvetica, sans-serif;
}
.carosel{
  background: linear-gradient(to right, rgba(1, 69, 25, 0.8), rgba(23, 3, 3, 0.1)),url('/images/nursa3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutUs{
}