@import "tailwindcss";

*{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}
.carosel{
  background: linear-gradient(to top, rgba(1, 64, 23, 0.9), rgba(23, 3, 3, 0.1)),url('/images/nursa3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginImage{
  background: linear-gradient(to bottom, rgba(1, 65, 18, 0.7), rgba(1,65,18,0.7)), url('/images/nursa2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signUpImage{
  background: linear-gradient(to bottom, rgba(1, 65, 18, 0.7), rgba(1,65,18,0.7)), url('/images/nursa1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eventcard{
  max-width: 100%;
  overflow-x: hidden;
}

/* Carousel Styles */
.ant-carousel {
  width: 100%;
  height: 100%;
}

.ant-carousel .slick-slide {
  height: 60vh;
}

@media (min-width: 768px) {
  .ant-carousel .slick-slide {
    height: 70vh;
  }
}

.ant-carousel .slick-dots {
  bottom: 20px;
  z-index: 20;
}

.ant-carousel .slick-dots li button {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #eab308 !important;
  width: 12px;
  height: 12px;
}

.ant-carousel .slick-slide > div {
  height: 100%;
}