@import "tailwindcss";

*{
  font-family: Arial, Helvetica, sans-serif;
}
.carosel{
  background: linear-gradient(to top, rgba(1, 64, 23, 0.9), rgba(23, 3, 3, 0.1)),url('/images/nursa3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginImage{
  background: linear-gradient(to bottom, rgba(1, 65, 18, 0.7), rgba(1,65,18,0.7)), url('/images/nursa2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signUpImage{
  background: linear-gradient(to bottom, rgba(1, 65, 18, 0.7), rgba(1,65,18,0.7)), url('/images/nursa1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}